services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    user: 1000:1000
    network_mode: 'host'
    volumes:
      - ./config/jellyfin:/config
      - ./config/jellyfin:/cache
      - type: bind
        source: /home/bloppai/Videos/Movies
        target: /media
        read_only: true
    restart: 'unless-stopped'

